---
import { getMixesNearId, getMixById } from "@src/lib/weaviate/query";
import Layout from "@src/components/Layout.astro";
import MixDetail from "@src/components/MixDetail.astro";
import MixListItem from "@src/components/MixListItem.astro";

const weaviateObjectId = Astro.params.id;

const mix = await getMixById({
    weaviateObjectId,
});

const pageNumStr = Astro.url.searchParams.get("page") || "1";
const pageNum = parseInt(pageNumStr, 10);

const similarMixes = await getMixesNearId({
    weaviateObjectId,
    fields: "mixId title textForEmbedding blurb imageUrl iframe hyperlinkUrl date _additional { id }",
    limit: 20,
    offset: (pageNum - 1) * 20,
});
---

<Layout>
    <MixDetail {mix} />
    <h2>Similar mixes</h2>
    <p>The mixes below have similar descriptions.</p>
    <ul class="mixes-list">
        {similarMixes.map((mix) => <MixListItem {mix} />)}
    </ul>
</Layout>
