---
import Layout from "@src/components/Layout.astro";
import MixListItem from "@src/components/MixListItem.astro";
import { getLatestMixes } from "@src/lib/weaviate/query";

const exampleSearches = [
  {
    q: "upbeat funky",
    searchType: "vector",
    label: "Vector search - 'upbeat funky'",
  },
  {
    q: "deep house",
    searchType: "hybrid",
    label: "Hybrid search - 'deep house'",
  },
  {
    q: "rolling AND driving AND house",
    not: "aggressive",
    searchType: "vector",
    label:
      "Vector search - 'rolling AND driving AND house' but not 'aggressive'",
  },
];

const mixes = await getLatestMixes();

function getSearchUrl(search) {
  const searchParams = new URLSearchParams({
    q: search.q,
    type: search.searchType,
  });

  if (search.not) {
    searchParams.append("not", search.not);
  }

  return `/search?${searchParams.toString()}`;
}
---

<Layout>
  <p>
    Welcome to the mix explorer! This is a site that lets you explore <a
      href="https://ra.co/mix-of-the-day">Resident Advisor's Mix of the Day</a
    >. It allows you to search for mixes by vibe.
  </p>
  <p>Here are some example searches to get started:</p>
  <ul>
    {
      exampleSearches.map((search) => (
        <li>
          <a href={getSearchUrl(search)}>{search.label}</a>
        </li>
      ))
    }
  </ul>
  <ul class="mixes-list">
    {mixes.map((mix) => <MixListItem {mix} />)}
  </ul>
</Layout>
