---
const { searchQuery, excludeQuery, searchType, perPage } = Astro.props;
---

<form
    hx-boost="true"
    hx-target="#page-container"
    hx-select="#page-container"
    method="GET"
    action="/search"
    id="search-form"
>
    <label for="search-input"><strong>Search query</strong></label>
    <input type="text" name="q" id="search-input" value={searchQuery} /><br />
    <label for="negative-search-input"><strong>Exclude</strong></label>
    <input
        type="text"
        name="not"
        id="negative-search-input"
        value={excludeQuery}
    /><br />
    <label><strong>Search type</strong></label>
    <input
        name="type"
        type="radio"
        value="hybrid"
        id="hybrid-radio"
        checked={searchType === "hybrid" || searchType === undefined}
    />
    <label for="hybrid-radio">Hybrid (keyword + vibe)</label>
    <input
        name="type"
        type="radio"
        value="vector"
        id="vector-radio"
        checked={searchType === "vector"}
    />
    <label for="vector-radio">Vector (vibe)</label><br />
    <label>Items per page</label>
    <select name="per-page">
        <option value="20" selected={perPage === 20}>20</option>
        <option value="50" selected={perPage === 50}>50</option>
        <option value="100" selected={perPage === 100}>100</option>
    </select>
    <button>Search</button>
</form>
